<div id="<%= dom_id core_info %>">
  <p>
    <strong>Name:</strong>
    <%= core_info.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= core_info.age %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= core_info.country %>
  </p>

</div>
