
.profile-page {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px;
}

.profile-header img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.profile-header h1 {
  margin: 10px 0;
}

.profile-header h3, .profile-header p {
  margin: 0;
}

.post-feed {
  width: 50%;
  // overflow-y: auto;
  // height: calc(100vh - 20px);
  padding: 20px;
  margin-top: 7rem;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.post h2 {
  margin: 0 0 10px 0;
}

.sidebar {
  width: 25%;
  padding: 20px;
  margin-top: 10rem;
}

.sidebar h3 {
  margin: 0 0 10px 0;
}

.info {

}