.tearDropContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15rem;
}

.tearDropButton {
  position: absolute;
  top: 0;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  padding: 9px 25px;
  border-radius: 0% 0% 100% 100%;
  font-size: 13px;
}