.index-side-bar {
  // max-height: 100vh;
}

.index-tower {
  height: 87vh;
  border-bottom: 1px solid white;
  overflow: scroll;
}

.index-links {
  display: flex;
  justify-content: flex-start;
  margin-inline: 1.5rem;
  color: white;
  margin-top: 1rem;
  align-items: center;
}


.index-item{
  margin-block: 0.25rem;
  color: white;
  cursor: pointer;
  margin-inline: 0.5rem;
  width: -webkit-fill-available;
  text-align: start;
  padding-inline: 1rem;
  padding-block: 0.59rem;
}

.selected {
  background-color: rgba(223, 205, 205, 0.21);
}

.index-item:hover{
  background-color: #ffffff73;
  color: white;
}

.index-header{
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.post-button {
  margin-block: 0.5rem;
  color: white;
  cursor: pointer;
  margin-inline: 0.5rem;
  width: -webkit-fill-available;
  padding-inline: 1.5rem;
  text-align: start;
  background-color: rgba(255, 255, 255, 0);
  padding-block: 1.3rem;
  border: 1px solid rgba(215, 215, 215, 0.2117647059);
}

.post-button:hover{
  background-color: #ffffff73;
  color: white;
}

.index-list{
  padding-top: 1rem;
  max-height: 100%;
  overflow: scroll;
}

.btn {
  transition: color 0.05s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.index-loader-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}